#circle-logo
	position: absolute
	height: 10rem
	width: 10rem
	border-radius: 50%
	background: $dark-grey
	margin-left: calc(50% - 5rem)
	top: 2rem
#jumbotron
	background: $black
	h1
		margin: 0
		color: $white
		text-align: center
		padding-top: 10rem
		font-size: 2.5rem
	#call-button
		width: 10rem
		margin: 1.5rem auto
		font-size: 1.5rem
		color: $white
		text-align: center
		border: 0.125rem solid $red
		padding: 0.25rem
		background: $dark-grey
