header
	background: $light-grey
#call-button
	float: right
	color: $light-grey
	background: $dark-grey
	padding: 0.25rem
#circle-logo
	background: $dark-grey
	margin: 1rem auto
	height: 8rem
	width: 8rem
	border-radius: 50%
#hero
	height: 20rem
	background: $black
	clear: both