#main-content
	h2
		text-align: center
		font-size: 2rem
	img
		width: 40%
		height: auto
	#services
		margin: 0 10%
		margin-top: 1rem
		.service-table
			width: 28%
			float: left
			border: 0.125rem solid $dark-grey
			box-sizing: border-box
			margin-right: 8%
			padding: 0.75rem
			margin-bottom: 1rem
			&:nth-child(4)
				margin-right: 0
			&:nth-child(5)
				clear: both
			h3
				text-align: center
				border-bottom: 0.125rem solid $red
				margin-bottom: 0.5rem
				padding-bottom: 0.5rem
			@media screen and (max-width: $break-large)
				width: 45%
				&:nth-child(2n)
					margin-right: 10%
				&:nth-child(2n+1)
					margin-right: 0
				&:nth-child(5)
					clear: none
			@media screen and (max-width: $break-medium-large)
				width: 80%
				margin: 0 10%
				margin-bottom: 2rem
			@media screen and (max-width: $break-medium)
				width: 100%
				margin: 1rem 0
				float: none
	#about
		clear: both
		background: $dark-grey
		color: $white
		overflow: hidden
		p
			margin-right: 10%
			margin-left: 10%
		img
			float: left
			margin: 0 10%
			margin-bottom: 1rem
		@media screen and (max-width: $break-small)
			padding-bottom: 2rem
			p
				margin: auto
			img
				width: 100%
				height: auto
				margin: auto
				margin-bottom: 2rem
		#stylists
			h3
				padding-left: 2rem
			a
				color: $white
				text-decoration: none
				&:hover
					color: $light-grey
	#products
		clear: both
		margin-top: 1rem
		p
			margin-left: 10%
			margin-right: 10%
		img#product-image
			float: right
			margin: 0 10%
			margin-bottom: 1rem
		img#all-nutrient-logo
			width: 30%
			margin-left: 10%
		@media screen and (max-width: $break-small)
			padding-bottom: 2rem
			p
				margin: auto
			img#product-image
				width: 100%
				margin: auto
				margin-bottom: 2rem
			img#all-nutrient-logo
				width: 100%
				margin: auto

#services,
#about,
#products
	padding: 0 2rem